main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.add__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  border: none;
  border: 2px solid #d19bc8;
  background-color: transparent;
  color: #d19bc8;
  &:focus {
    outline: none;
    border: 2px solid #d19bc8;
    color: #d19bc8;
  }
}

button {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  border: none;
  border: 2px solid #d19bc8;
  background-color: transparent;
  color: #d19bc8;

  &:hover {
    cursor: pointer;
    background-color: #d19bc8;
    color: #fff;
  }
}

/* стиили для карточек */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.to__do__mem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #d19bc8;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 400px;
}

.text__card {
    margin-top: 15px;
    font-size: 25px;

  text-align: center;
  color: #d19bc8;
  word-break: break-all;

}

.to__do__mem .icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 200ms ease-in-out;
}

.img__card {
  width: 200px;
  height: 200px;
}

.like__card {
  background-image: url(../assets/icons/like.svg);
  margin-bottom: 20px;
 


  &:hover {
    cursor: pointer;
  }
}

.delete__card {
  background-image: url(../assets/icons/delete.png);
  margin-top: 20px;
  mix-blend-mode: multiply;
  

  

  &:hover {
    cursor: pointer;
  }
}

.liked {
  transform: scale(1.2);
  border-radius: 100px 100px 150px 150px;
  background-color: #d19bc8;

  &:hover {
    cursor: pointer;
  }
}
